.gpt3__cta{
    display: flex;
    padding: 3rem;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex: 1;
    background:#652b50;
    margin: 4rem 6rem;
    border-radius: 1rem;
    border: 1px solid white;
}
.gpt3__cta-content{
    display: flex;
    flex-direction: column;
    flex: 1;
    line-height: 38px;
    font-size: 24px;
    width: 100%;
}
.gpt3__cta-content p{
    font-size: 16px;
    font-family: var(--font-family);
    line-height: 30px;
    margin: 1rem;
    font-weight: 400;
    width: 100%;
}
.gpt3__cta-content h3{
    font-family: var(--font-family);
    font-size: 16px;
    justify-content: flex-end;
    align-items: center;
    margin-left: 1px;
    margin-bottom: 2rem;
    width: 100%;
}
.gpt3__cta-button button{
    background: black;
    color: var(--color-text);
    font-size: 16px;
    min-width: 182px;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
}
.gpt3__cta-button button:hover{
    background: #040c18;
}
@media screen and (max-width:950px) {
    .gpt3__cta{
        flex-direction: column;
    }
    .gpt3__cta-button{
        margin-top: 1.7rem;
    }
    .gpt3__cta-content h3{
        line-height: 30px;
    }
}
@media screen and (max-width:550px) {
    .gpt3__cta{
        padding: 1rem;
        margin: 0.5rem;
    }
    .gpt3__cta-button{
        margin-bottom: 2rem;
    }
    .gpt3__cta{
        margin: 0.3rem 0.6rem;
    }
}
